head
  meta(charset="utf-8")
  script(src="http://code.angularjs.org/1.4.7/angular.min.js")
  script(type="application/javascript", src="lib/jquery.min.js")

body(ng-app="scheduleApp" ng-controller="scheduleCtrl")
  h1 明星列表  
  div
    thead
      tr
        th
        th
        th
    script(type="application/javascript", src="js/lottery_list.js")  
                
    
    
