doctype html
head
  meta(charset="utf-8")
  script(src='lib/angular-1.4.7/angular.min.js')

body(ng-app="turingApp" ng-controller="turingCtrl")
  h2 Turing
  div
    textarea(name="get", ng-model="set_data")
    button(type="button", name="button",ng-click="click_get()")提交
  div 
    textarea(name="block", ng-model="get_data")
script(type="application/javascript", src="js/turing.js")     
    
