<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <script src="http://code.angularjs.org/1.4.7/angular.min.js"></script>
  <script type="application/javascript" src="lib/jquery.min.js"></script>
  <script type="application/javascript" src="lib/jspkg-archive/jquery.dynatable.js"> </script>
  <link rel="stylesheet" type="text/css" href="lib/jspkg-archive/jquery.dynatable.css">
  <link rel="stylesheet" type="text/css" href="css/lottery_list.css">
</head>
<body ng-app="boradRankApp" ng-controller="customersCtrl">
  <h1>抽奖ID: {{lottery_id}} 的名牌排行榜 </h1>
  <h2>第 {{fpage}} 页 {{ fpage * 50 - 50 }} ~ {{ fpage * 50 }} 名</h2><span>换页： </span>
  <input type="text" ng-model="fpage"><span>去重:</span>
  <input type="checkbox" ng-model="dedup_bool">
  <div id="wrapper">
    <div>      </div>
    <table id="keywords">     
      <thead>
        <tr>
          <th data-dynatable-column="name">姓名</th>
          <th data-dynatable-column="mobile">手机号</th>
          <th data-dynatable-column="board_count"> 名牌数量</th>
        </tr>
      </thead>
    </table>
  </div>
  <script type="application/javascript" src="js/borad_rank.js"></script>
</body>