<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <script src="http://code.angularjs.org/1.4.7/angular.min.js"></script>
  <script type="application/javascript" src="lib/jquery.min.js"></script>
</head>
<body ng-app="noticeApp" ng-controller="noticeCtrl">
  <h1>公告更新</h1>
  <div>
    <select ng-model="mytype" ng-options="type.name for type in types"></select>
    <p>{{ mytype }}  </p>
  </div>
  <textarea name="update" ng-model="get_server_data[mytype.value].notice_text"></textarea>
  <div>  
    <input type="button" name="update" value="更新" ng-click="click_update()">
  </div>
</body>
<script type="application/javascript" src="js/notice_update.js"></script>